<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Razorpay Checkout</title>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>

<body>
    <h1>Complete Your Payment</h1>

    <p>Amount: ₹{{ amount|floatformat:2 }}</p>

    <button id="pay-btn">Pay Now</button>

    <script>
        var options = {
            "key": "{{ razorpay_merchant_key }}",
            "amount": "{{razorpay_amount}}",
            "currency": "{{currency}}",
            "order_id": "{{razorpay_order_id}}",
            "handler": function (response) {

                fetch("/paymenthandler/", {
                    method: "POST",

                    headers: {
                        "Content-Type": "application/json"
                    },

                    body: JSON.stringify({
                        razorpay_payment_id: response.razorpay_payment_id,
                        razorpay_order_id: response.razorpay_order_id,
                        razorpay_signature: response.razorpay_signature
                    })
                })
                .then(response => response.json())
                .then(data => {
                    document.body.innerHTML = `
                        <pre>${JSON.stringify(data, null, 2)}</pre>
                    `;
                });
            }
        }

        var rzp = new Razorpay(options);

        document.getElementById("pay-btn").onclick = function (e) {
            rzp.open();
            // e.preventDefault();
        };

    </script>
</body>

</html>